services:
  - type: web
    name: hanzla-outlet-backend
    env: docker
    region: frankfurt
    plan: free
    envVars:
      - key: DATABASE_URL
        sync: false
      - key: SECRET_KEY
        sync: false
      - key: GOOGLE_API_KEY
        sync: false
      - key: CORS_ORIGINS
        value: "https://your-frontend-domain.com"
